{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ titre }}</h1>
    {% for ville in villes %}
        <h2>{{ville.nom}}</h2>
        <h2>{{ville.img}}</h2>
        <h2>{{ville.id}}</h2>
        <h3>{{ville.img}}</h3>
        <h3>{{ville.alt}}</h3>
    {% endfor %}
{% endblock %}